/*
 * Base structure
 */

html,
body {
  color: #626262;
  font-family: 'Roboto', sans-serif;

}

h1,h2,h3,h4 {
	font-weight: 100;
}

h3 {
	font-size: 2.5em;
}

.btn {
	border-radius: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	letter-spacing: 2px;
	background-color: #315dfe;
	text-transform: uppercase;
	font-size: 0.8em;
	border: none;
	margin-top: 50px;
}

.btn:hover {
		background-color: #fe8831;

}


.cover-heading {
	font-size: 5em;
	font-weight: 100;
	color: #fff;

}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../../assets/img/blue-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.lead {
	color: #fff;
	font-size: 1em;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.nav-item{
	text-transform: uppercase;
	font-size: 0.7em;
	color: #fff;
	letter-spacing: 2px;
}

.navbar-light .navbar-brand{
	font-weight: 700;
	color: #fff;

}
.navbar-trans {
  background: transparent; }

.thing {
	background-color: #fff;
}

.leftside, .rightside {
	width: 100%;
	margin-top: 0px;
	min-height: 600px;
}


.leftside {
	padding:10%;
	color: #333;
}

.leftside h2 {
	font-weight: 100;
	font-size: 3.5em;
}

.leftside p {
	color: #626262;
	margin-top: 30px;
}

.rightside {
	background: grey;
	 background-image: url("../../assets/img/first-section-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pt-5, .py-5 {
	padding-top: 0!important;
	padding-bottom: 0!important;
}

#grey-bg {
	background-color: #fafafa;
}

.intro {
	  height: 300px;
	  padding: 5em;

}
.card {
	padding: 10%;
}
.card-img-top {
	width: 25%;
	margin:10%;
}

#third-section {
	height: 450px;
	background: rgba(0,0,0,0.8);
	background-image: url("../../assets/img/bg-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;


}

#case-study-button {
	margin-bottom: 40px;
	color: #fff;
}

#case-study-button:hover {
	color: #315dfe;
}

#right-image-1 {
background-image: url("../../assets/img/right-image-1.jpg");

}

#right-image-2 {
background-image: url("../../assets/img/right-image-2.jpg");

}

#right-image-3 {
background-image: url("../../assets/img/right-image-3.jpg");

}










